{% extends 'base2.html' %}


{% block titre %}Cluster health {% endblock %}

{% block left_menu %}
								<li class="first"><a href="#">Informations systemes</a></li>
								<li><a href="/information">Status</a></li>
								<li><a href="#">Check log</a></li>

							{% endblock %}


{% block content %}    <section>
						<div class="post">
							<h2>Cluster Percona</h2>
							<table class="tableau">
                             <thead><a class="titre"> Informations systemes </a></thead>
                              <tr></tr>
                                {% for k,v in dict.iteritems %}
                                 <tr class="{% cycle 'row1' 'row2' %}"> <td >{{ k }}</td><td id="row_status">{{ v.0 }}</td></tr>

                                 {% endfor %}
                              </table>
						</div>
					</section>{% endblock %}