{% extends 'base2.html' %}


{% block titre %}Cluster health {% endblock %}

{% block left_menu %}
								<li class="first"><a href="#">home</a></li>
								<li><a href="/status">Status</a></li>
								<li><a href="/backup">Backup</a></li>
								<li><a href="/info">Informations systemes</a></li>
							{% endblock %}


{% block content %}<section>
						<div class="post">
							<h2>Etat du cluster</h2>
                            <p>{{ listing.1.0 }}</p>
                        <p>{{ message }}</p>
                        <p>{{ cluster_uid_val }}</p>
                        <p>{{ local_state }}</p>
                        <p>{{ local_state_val }}</p>
                        <p> {{ local_comment }}</p>
                        <p> {{ local_comment_val }}</p>

							<table class="tableau">
                             <thead><a class="titre"> cluster </a></thead>
                              <tr></tr>
                                {% for k,v in dict.iteritems %}
                                 <tr class="{% cycle 'row1' 'row2' %}"> <td  id="row_status">{{ k }}</td><td id="row_status">{{ v.0 }}</td></tr>

                                 {% endfor %}
                              </table>
						</div>
					</section>{% endblock %}